@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <button type="submit">Расчёт</button>
    <label>Логарифм числа "</label>
<input type="number" class="number" name = "number" placeholder="8">
    <label>" по основанию "</label>
<input type="number" class="base" name="base" placeholder="2">
    <label>" равен: </label>
    <label class = "result" font-weight = bold></label>
</div>

